/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

address {
    font-style: italic;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.detalle-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.detalle-container h2 {
    margin-bottom: 20px;
}
.detalle-container p {
    margin: 10px 0;
    font-size: 1.2em;
}
.atraccion {
    margin: 10px 0;
}
.visitada {
    color: green;
}
.pendiente {
    color: red;
}